---
import { baseStyles } from "../../../styles/styles";
import SectionTitle from "../../../components/section-title.astro";
import SectionBlock from "./section-block.astro";
import { getImage } from "astro:assets";
import questionMark from "../../../assets/Q.png";
const questionMarkImage = await getImage({ src: questionMark });
---

<SectionBlock bg={baseStyles.colors.white}>
  <SectionTitle title="Q＆A" />
  <div class="contents">
    <div class="faq-wrapper">
      <div class="faq-content">
        <div class="question">
          <span>Q.</span>予約は必要ですか？
        </div>
        <div class="answer">
          スムーズにご利用いただくために事前予約をおすすめしています。<br>
          空きがある場合は当日利用も可能ですので、受付またはWebサイトでご確認ください。
        </div>
      </div>
      <div class="faq-content">
        <div class="question">
          <span>Q.</span>利用中に飲食はできますか？
        </div>
        <div class="answer">
          はい、指定のエリアでは飲み物や軽食をお楽しみいただけます。
        </div>
      </div>
      <div class="faq-content">
        <div class="question">
          <span>Q.</span>Wi-Fiや電源は利用できますか？
        </div>
        <div class="answer">
          館内では無料Wi-Fiと電源コンセントをご利用いただけます。快適に作業いいただける環境を整えています。
        </div>
      </div>
    </div>
  </div>
</SectionBlock>
<style
  define:vars={{
    primary: baseStyles.colors.primary,
    accent: baseStyles.colors.accent,
    accentLine: baseStyles.colors.accentLine,
    base: baseStyles.colors.base,
    black: baseStyles.colors.black,
    xxLarge: baseStyles.fontSize.xxLarge,
    medium: baseStyles.fontSize.medium,
    large: baseStyles.fontSize.large,
    small: baseStyles.fontSize.small,
    xSmall: baseStyles.fontSize.xSmall,
    question: `url(${questionMarkImage.src})`,
  }}
>
  .contents {
    max-width: 1100px;
    margin: 0 auto;
    color: var(--primary);
    text-align: center;
  }

  h3 {
    font-size: var(--xxLarge);
  }

  .sp-br {
    display: none;
  }

  span {
    display: none;
  }

  .faq-wrapper {
    text-align: left;
  }

  .faq-content {
    padding: 8px 8px 30px;
    margin: 12px 20px 15px;
    border-bottom: var(--base) solid 3px;
  }

  .question {
    position: relative;
    padding-left: 10px;
    margin-bottom: 16px;
    margin-left: 50px;
    font-size: var(--medium);
    font-weight: 700;
  }

  .question::before {
    position: absolute;
    top: calc(50% - 20px);
    left: -50px;
    display: inline-block;
    width: 40px;
    height: 40px;
    content: "";
    background-image: var(--question);
    background-size: contain;
  }

  .answer {
    width: 95%;
    padding-left: 34px;
    margin: 0 auto;
    font-size: var(--small);
    color: var(--black);
  }

  @media screen and (max-width: 480px) {
    span {
      display: inline;
    }
    .faq-wrapper {
      margin-top: 10px;
    }
    .question {
      margin-left: 0;
    }
    .question::before {
      display: none;
    }
    .answer {
      padding-left: 0;
    }
  }
</style>
