---
import { baseStyles } from "../../../styles/styles.ts";
import { functionInfo } from "./linkage.ts";
import { Image } from "astro:assets";

const { functionList } = Astro.props;

export interface Props {
  functionList: (typeof functionInfo)[0];
}
---

<div class="linkage-item">
  <div class="item-top">
    <div class="icon">
      <Image src={functionList.icon} alt=`${functionList.headline}の画像` />
    </div>
    <div class="headline"><span set:html={functionList.headline} /></div>
    <span class="linkage-accordion-button"></span>
  </div>
  <div class="linkage-detail" set:html={functionList.detail} />
</div>

<style
  define:vars={{
    accentLine: baseStyles.colors.accentLine,
    white: baseStyles.colors.white,
    black: baseStyles.colors.black,
    medium: baseStyles.fontSize.medium,
    small: baseStyles.fontSize.small,
    xSmall: baseStyles.fontSize.xSmall,
  }}
>
  .linkage-item {
    width: 100%;
    padding: 10px 8px;
    margin: 0 auto;
    background-color: var(--white);
    border-radius: 6px;
  }

  .item-top {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 5px;
  }

  .icon {
    width: 46px;
    height: 46px;
  }

  .icon img {
    width: 100%;
    height: 100%;
  }

  .headline {
    padding-left: 8px;
    font-size: var(--small);
    font-weight: 700;
    text-align: left;
  }

  .linkage-detail {
    width: 96%;
    margin: 10px auto 0;
    font-size: var(--xSmall);
    line-height: 24px;
    text-align: left;
    color: var(--black);
  }

  @media screen and (max-width: 640px) {
    .linkage-item {
      padding: 2px 3px;
      border: 0.5px var(--primary) solid;
      border-radius: 8px;
      box-shadow: 0 0 3px 1px var(--primary);

      &:hover {
        cursor: pointer;
      }
    }

    .item-top {
      position: relative;
      padding: 5px 0 5px 8px;
    }

    .linkage-accordion-button::after {
      position: absolute;
      top: calc(50% - 8px);
      right: 5%;
      width: 8px;
      height: 8px;
      content: "";
      border-top: 2px solid var(--primary);
      border-right: 2px solid var(--primary);
      transition: all 0.2s;
      transform: rotate(135deg);
    }

    .linkage-accordion-button.checked::after {
      transition: all 0.2s;
      transform: rotate(-45deg);
    }

    .headline span {
      background: none;
    }

    .linkage-detail {
      width: 100%;
      padding: 15px;
      margin: 0;
    }

    .linkage-detail.sp-none {
      display: none;
    }
  }
</style>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    // TooltipにHTMLをセットする
    document.querySelectorAll(".linkage-detail").forEach(function (elm) {
      elm.classList.add("sp-none");
    });

    let accordionButtons = document.querySelectorAll(".linkage-item");
    accordionButtons.forEach(elm => {
      elm.addEventListener("click", function () {
        let detail = elm.querySelector(".linkage-detail");
        let accordion = elm.querySelector(".linkage-accordion-button");
        if (detail) {
          // detailがnullでないことを確認
          detail.classList.toggle("sp-none");
        }

        if (accordion) {
          // accordionがnullでないことを確認
          accordion.classList.toggle("checked");
        }
      });
    });
  });
</script>
