---
import { baseStyles } from "../../../styles/styles";

import { functionInfo } from "./linkage.ts";
import FunctionItem from "./linkage-item.astro";
---

<div class="linkage-list-wrapper">
  <div class="linkage-list">
    {functionInfo.map(functionList => <FunctionItem functionList={functionList} />)}
  </div>
</div>

<style
  define:vars={{
    white: baseStyles.colors.white,
    gray: baseStyles.colors.gray,
    base: baseStyles.colors.base,
    large: baseStyles.fontSize.large,
    medium: baseStyles.fontSize.medium,
    small: baseStyles.fontSize.small,
    xSmall: baseStyles.fontSize.xSmall,
  }}
>
  .linkage-list-wrapper {
    max-width: 1000px;
    margin: 0px auto;
    border-radius: 10px;
  }

  .list-title {
    margin: 40px auto 0;
    font-size: 2.4rem;
    font-weight: 700;
    text-align: center;
    letter-spacing: 3px;
  }

  .linkage-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
  }

  .linkage-item {
    padding: 10px 3px;
    margin: 0 auto;
    background-color: var(--white);
    border-radius: 6px;
  }

  .icon {
    width: 20%;
  }

  .icon img {
    width: 100%;
    height: auto;
    padding: 0 5px 5px 0;
  }

  .headline {
    font-size: var(--small);
    font-weight: 700;
    text-align: left;
  }

  .headline-set {
    display: flex;
    align-items: center;
    justify-content: left;
    padding-bottom: 4px;
    padding-left: 14px;
  }

  .detail {
    padding: 0 16px;
    font-size: var(--xSmall);
    line-height: 2.4rem;
    text-align: left;
  }

  .sp-br {
    display: none;
  }

  @media screen and (max-width: 1090px) {
    .linkage-list {
      grid-template-columns: 1fr 1fr;
      gap: 15px 10px;
    }
    .linkage-item {
      width: 100%;
      margin: 0 auto;
    }
    .icon {
      width: 46px;
    }
  }

  @media screen and (max-width: 640px) {
    .linkage-list-wrapper {
      width: 97%;
      padding-bottom: 20px;
      margin: 30px auto 0;
      border-radius: 22px;
    }
    .list-title {
      margin-top: -43px;
      font-size: var(--medium);
    }
    .linkage-list {
      grid-template-columns: 1fr;
      gap: 15px 0;
    }
    .linkage-item {
      width: 100%;
      padding-bottom: 12px;
      border-bottom: 3.5px solid var(--base);
    }
    .linkage-item:last-child {
      padding-bottom: 0;
      border: none;
    }

    .headline-set {
      justify-content: left;
      padding-bottom: 0;
    }

    .icon {
      width: 13%;
    }

    .icon img {
      padding-right: 0;
    }
    .text-area {
      text-align: left;
    }
    .headline {
      padding: 0 10px;
    }
    .detail {
      padding: 0;
      text-align: left;
    }
    .pc-br {
      display: none;
    }
    .sp-br {
      display: block;
    }
  }
</style>
