---
const { bg } = Astro.props;
interface Props {
  bg: string;
}
---

<div class="section">
  <slot />
</div>
<style define:vars={{ bg }}>
  .section {
    padding: 60px 20px;
    background-color: var(--bg);
  }

  @media screen and (max-width: 800px) {
    .section {
      padding: 30px 10px;
    }
  }

  @media screen and (max-width: 480px) {
    .section {
      padding: 30px 0;
    }
  }
</style>
