---
import { baseStyles } from "../../../styles/styles";
import SectionTitle from "../../../components/section-title.astro";
import SectionBlock from "./section-block.astro";
import { Image } from "astro:assets";
import useCaseImg1 from "../../../assets/how-to-use/meeting.png";
import useCaseImg2 from "../../../assets/how-to-use/coworking.png";
import useCaseImg3 from "../../../assets/how-to-use/community.png";
---

<SectionBlock bg={baseStyles.colors.white}>
  <SectionTitle title="Work Loungeの活用シーン" />
  <div class="contents">
    <div class="use-case-card-wrapper">
      <div class="use-case-card">
          <p class="headline">打ち合わせ</p>
          <Image src={useCaseImg1} alt="利用状況レポートのデモ画像" />
      </div>
      <div class="use-case-card">
          <p class="headline">コワーキング</p>
          <Image src={useCaseImg2} alt="利用状況レポートのデモ画像" />
      </div>
      <div class="use-case-card">
          <p class="headline">同業種・異業種<br>との交流</p>
          <Image src={useCaseImg3} alt="利用状況レポートのデモ画像" />
      </div>
    </div>
  </div>

  <style
    define:vars={{
      primary: baseStyles.colors.primary,
      accent: baseStyles.colors.accent,
      accentLine: baseStyles.colors.accentLine,
      base: baseStyles.colors.base,
      white: baseStyles.colors.white,
      xxLarge: baseStyles.fontSize.xxLarge,
      medium: baseStyles.fontSize.medium,
      large: baseStyles.fontSize.large,
      small: baseStyles.fontSize.small,
      xSmall: baseStyles.fontSize.xSmall,
    }}
  >
    .contents {
      max-width: 1000px;
      margin: 40px auto 20px;
      color: var(--primary);
      text-align: center;
      
    }

    .use-case-card-wrapper {
      display: flex;
      justify-content: center;
      gap: 20px;
      padding: 30px 30px;
      background-color: var(--base);
      border-radius: 10px;
    }

    .use-case-card {
      width: 280px;
      height: 140px;
      padding: 5px;
      background-color: var(--white);
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    img {
      display: block;
      width: 110px;
      height: 110px;
    }

    .description {
      display: flex;
      flex-flow: column;
      justify-content: center;
      height: 100%;
      padding: 20px 0;
      text-align: left;
      background-color: var(--white);
      border-radius: 5px;
    }

    .headline {
      font-size: var(--medium);
      font-weight: 700;
      text-align: left;
      margin-left: 25px;
    }

    @media screen and (max-width: 960px) {
      .wrap {
        width: 100%;
        padding: 0 8px;
      }

      .use-case-card {
        flex-flow: column;
        width: 95%;
        height: auto;
        padding: 10px;
        margin: 0 auto;
      }

      img {
        width: 80px;
        height: 80px;
        margin: 5px auto;
      }

      .description {
        width: 100%;
        margin-left: 0;
      }

      .headline {
        width: 97%;
        margin: 0 auto;
        font-size: var(--medium);
        text-align: center;
      }
    }

    @media screen and (max-width: 800px) {
      h3 {
        font-size: var(--large);
      }
      .headline {
        font-size: var(--medium);
      }
      .use-case-card-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px 5px;
        margin: 0 20px;
      }
      img {
        right: 20px;
        bottom: 15px;
        width: 90px;
        height: 90px;
        margin: 0 auto;
      }
      .pc-br {
        display: none;
      }
      .sp-br {
        display: block;
      }
    }

    @media screen and (max-width: 480px) {
      h3 {
        margin-top: 18px;
        margin-bottom: 26px;
      }
      .use-case-card-wrapper {
        gap: 20px 0;
        width: 80%;
        padding: 30px 10px;
        margin: -10px auto 0;
        border-radius: 10px;
      }
      .use-case-card-wrapper img {
        right: 5px;
        bottom: 3px;
        width: 75px;
        height: 75px;
      }
      .use-case-card {
        width: 95%;
        padding: 6px;
      }
      .use-case-card::before {
        top: -10px;
        left: -6px;
        width: 28px;
        height: 32px;
      }
    }
  </style>
</SectionBlock>
