.hamburger {
  padding: 28px 30px 15px;
  cursor: pointer;
  .line {
    display: block;
    width: 30px;
    height: 3px;
    margin-bottom: 10px;
    background-color: #086FC7;
    position: relative;
  }
  .line::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 3px;
    margin-bottom: 10px;
    background-color: #086FC7;
    top: -10px;
    right: 0;
    transition: all 0.3s;
  }
  .line::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 3px;
    margin-bottom: 10px;
    background-color: #086FC7;
    top: 10px;
    right: 0;
    transition: all 0.3s;
  }
}
.hamburgerActive {
  .line {
    background-color: #fff;
  }
  .line::before {
    transform: rotate(-135deg);
    top: 1px;
    left: 0;
  }
  .line::after {
    transform: rotate(135deg);
    top: 1px;
    left: 0;
  }
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menuContainer {
  display: block;
  position: absolute;
  top: 60px;
  width: 100%;
  background-color: #086FC7;
  max-height: 0;
  overflow: hidden;
  transition: all 0.2s;
  .menuList a {
    display: block;
    width: 100%;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    font-size: 1.6rem;
    padding: 15px 20px;
    border-bottom: 1px #fff solid;
    font-weight: 700;
    text-align: left;
    position: relative;
    &:hover {
      color: #e7dddbff;
    }
  }
}
.active {
  max-height: 500px;
  transition: all 0.5s;
}
@media screen and (min-width: 800px) {
  .hamburger {
    display: none;
  }
  .menuContainer {
    display: none;
  }
}
