---
import { baseStyles } from "../styles/styles";
import { Image } from "astro:assets";
import FooterLogoImg from "../assets/footerlogo.png";
---

<footer>
<div class="footer-item">
  <div class="footer-logo">
    <Image src={FooterLogoImg} alt="フッターロゴ" />
  </div>
  <div class="copyright">© 2026 Work Lounge — Portfolio Project</div>
</div>
</footer>

<style
  define:vars={{
    xSmall: baseStyles.fontSize.xSmall,
    small: baseStyles.fontSize.small,
    medium: baseStyles.fontSize.medium,
    large: baseStyles.fontSize.large,
    white: baseStyles.colors.white,
    primary: baseStyles.colors.primary,
  }}
>
  footer{
    background-color: var(--primary);
  }

  .footer-item{
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
  }

  .footer-logo img {
    display: block;
    width: 230px;
    max-width: none;
    height: auto;
  }

  .copyright{
    font-size: var(--xSmall);
    color: var(--white);
  }

  @media screen and (max-width: 700px) {
    .footer-item{
      flex-flow: column;
      gap: 20px;

    }
    .footer-logo img {
    display: block;
    width: 200px;
    max-width: none;
    height: auto;
  }
  }
</style>
