---
import { baseStyles } from "../../../../styles/styles";

export interface Props {
  title: string;
  ReverseFlowPlacement?: boolean;
}

const { title, ReverseFlowPlacement } = Astro.props;
---

<div class={`feature-card ${ReverseFlowPlacement ? "reverse-flow" : ""}`}>
  <div class="text-area">
    <div class="title visible-pc"><span set:html={title} /></div>
    <div class="description">
      <slot />
    </div>
  </div>
  <div class="media-area">
    <slot name="feature-media" />
  </div>
  <div class="title visible-sp"><span set:html={title} /></div>
</div>

<style
  define:vars={{
    primary: baseStyles.colors.primary,
    accent: baseStyles.colors.accent,
    accentLine: baseStyles.colors.accentLine,
    base: baseStyles.colors.base,
    white: baseStyles.colors.white,
    xxLarge: baseStyles.fontSize.xxLarge,
    xLarge: baseStyles.fontSize.xLarge,
    medium: baseStyles.fontSize.medium,
    large: baseStyles.fontSize.large,
    small: baseStyles.fontSize.small,
    xSmall: baseStyles.fontSize.xSmall,
  }}
>
  .feature-card {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 12px 5px 30px;
    font-size: var(--small);
    color: var(--primary);
    background-color: var(--white);
    border-radius: 10px;
    margin: 0 auto 30px;
    max-width: 760px;
  }

  .feature-card.reverse-flow {
    flex-direction: row-reverse;
  }

  .text-area {
    width: fit-content;
  }

  .title {
    margin: 0 0 10px;
    font-size: var(--xLarge);
    font-weight: 700;
    text-align: left;
  }

  .title.visible-sp {
    display: none;
  }

  @media screen and (max-width: 700px) {
    .feature-card {
      flex-flow: column-reverse;
      align-items: center;
    }
    .feature-card.reverse-flow {
      flex-flow: column-reverse;
    }
    .title {
      margin: 5px 0 18px;
    }
  }

  @media screen and (max-width: 700px) {
    .feature-card {
      align-items: flex-start;
      width: 99%;
      padding: 10px 5px;
      margin: 0 auto 20px;
    }
    .text-area {
      margin-left: 0;
    }
    .title {
      margin: 10px 0 10px 30px;
      font-size: var(--medium);
    }
    .title.visible-pc {
      display: none;
    }
    .title.visible-sp {
      display: flex;
    }

    .description {
      padding: 0 10px;
    }
  }
</style>
