---
import { baseStyles } from "../../../../styles/styles";
import FeatureCard from "./feature-card.astro";
import { Image } from "astro:assets";

import Flow1Img from "../../../../assets/facility-guide/flow-1.png";
import Flow2Img from "../../../../assets/facility-guide/flow-2.png";
import Flow3Img from "../../../../assets/facility-guide/flow-3.png";

import { getImage } from "astro:assets";
import decoration from "../../../../assets/facility-guide/slash-decoration.png";
const decorationImage = await getImage({ src: decoration });
---
<div class="list-title"><span>ご利用の流れ</span></div>
<div class="feature-card-group">
  <FeatureCard title="1. 登録">
    <div class="discription">
      まずはWebサイトから会員登録を行います。<br>
      利用プランを選択し、必要事項を入力して登録完了です。<br>
      登録後すぐに施設の予約・利用が可能になります。
    </div>
    <div class="image-area" slot="feature-media">
      <Image src={Flow1Img} alt="特徴の画像" />
    </div>
  </FeatureCard>
 <FeatureCard title="2. 受付" ReverseFlowPlacement>
   <div class="discription">
      ご来館後は、スマートフォンでQRチェックインを行います。<br>
      予約完了時に発行されるQRコードを受付端末にかざしてください。
      チェックインが完了すると、そのままスムーズに入館できます。
    </div>
    <div class="image-area" slot="feature-media">
      <Image src={Flow2Img} alt="特徴の画像" />
    </div>
  </FeatureCard>
  <FeatureCard title="3. 利用">
    <div class="discription">
      用途に合わせてお好きな席をご利用ください。<br>
      Wi-Fiや電源など、快適な設備を自由にお使いいただけます。
    </div>
    <div class="image-area" slot="feature-media">
      <Image src={Flow3Img} alt="特徴の画像" />
    </div>
  </FeatureCard>

</div>
<style
  define:vars={{
    primary: baseStyles.colors.primary,
    accent: baseStyles.colors.accent,
    accentLine: baseStyles.colors.accentLine,
    base: baseStyles.colors.base,
    white: baseStyles.colors.white,
    black: baseStyles.colors.black,
    xxLarge: baseStyles.fontSize.xxLarge,
    xLarge: baseStyles.fontSize.xLarge,
    medium: baseStyles.fontSize.medium,
    large: baseStyles.fontSize.large,
    small: baseStyles.fontSize.small,
    xSmall: baseStyles.fontSize.xSmall,
    decoration: `url(${decorationImage.src})`,
  }}
>

  .list-title {
    margin: 40px auto 0;
    font-size: var(--large);
    font-weight: 700;
    text-align: center;
  }

  .list-title span {
    position: relative;
  }

  .list-title span::before {
    position: absolute;
    top: 1px;
    left: -62px;
    width: 19px;
    height: 24px;
    content: "";
    background-image: var(--decoration);
    background-size: cover;
  }

  .list-title span::after {
    position: absolute;
    top: 1px;
    right: -62px;
    width: 19px;
    height: 24px;
    content: "";
    background-image: var(--decoration);
    background-size: cover;
    transform: scale(-1, 1);
  }
  .feature-card-group {
    margin: 30px 0 45px;
    counter-reset: number 0;
  }

  .feature-card {
    display: flex;
    column-gap: 10px;
    justify-content: space-between;
    padding: 10px 20px;
    margin-bottom: 30px;
    font-size: var(--small);
    color: var(--primary);
    background-color: var(--white);
    border-radius: 10px;
    margin: 0 auto 30px;
  }

  .title {
    margin: 30px 0 40px;
    font-size: var(--xLarge);
    font-weight: 700;
    text-align: left;
  }
  .discription{
    text-align: left;
    color: var(--black);
  }
  .image-area img {
    width: 280px;
    height: auto;
    object-fit: cover;
  }

  .sp-br {
    display: none;
  }

  @media screen and (max-width: 700px) {
    .feature-card-group {
      margin: 25px 0 40px;
    }
    .image-area img {
      width: 50%;
    }
    .list-title{
      margin-top: 20px;
    }
    .sp-br {
      display: block;
    }
  }

</style>
