---
import { baseStyles } from "../../styles/styles";
const { label, url } = Astro.props;
let color = baseStyles.colors.primary;
---

<a href={url} class="link">
  <div class="container">
    <p class="label">
      {label}
    </p>
  </div>
</a>

<style
  define:vars={{
    color,
  }}
>
  .container {
    padding: 10px;
    cursor: pointer;
    border-radius: 1rem;
    transition: background-color ease-in-out 0.15s;

    &:hover {
      background-color: #eee;
    }
  }

  .label {
    margin: 0;
  }

  .link {
    font-weight: 700;
    color: #096fcaff;
    text-decoration: none;
  }
</style>
