---
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
import "../styles/global.css";

const title = Astro.props.pageTitle ?? "Portfolio";
const description =
  Astro.props.description ?? "Astroで作成したポートフォリオサイトです。";
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <meta name="description" content={description} />

    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
  </head>

  <body>
    <Header />
    <main class="content">
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style>
      .content {
        margin-top: 80px;
      }

      @media screen and (max-width: 800px) {
        .content {
          margin-top: 60px;
        }
      }
    </style>